---
//import Button from "../components/Button.svelte";
//import Container from "../../components/Container.astro";
import Container from "../../components/Container.astro";
import { Grid, GridItem, Box, Text as ChakraText } from "@chakra-ui/react";
import { Text, Link, Bottom, Tools } from "../../components/lib";
import Contacting from "../../components/Contacting.astro";
import i18next from "../../i18n/init";
i18next.changeLanguage(Astro.request.params.lang);

export function getStaticPaths() {
  return [
    {
      params: {
        lang: "en",
      },
    },
    {
      params: {
        lang: "nl",
      },
    },
  ];
}
let title = i18next.t("hey_im");
let developer = i18next.t("developer");
let maintaining = i18next.t("maintaining");
let services = i18next.t("services");
let changeLang = i18next.t("change_lang");
---

<Container>
  <Grid spacing={1} alignItems="center" wrap="wrap" justifyContent="center">
    <GridItem minH="3.4rem" paddingBottom="40px" width="100%">
      <p class="text-blue-500 text-5xl">
        {title}
      </p>
      <p class="text-lg">{developer}</p>
      <p class="text-gray-200">{maintaining}</p>
      <Box class="pt-1">
        <p class="pt-1 text-green-600">
          <Link href="services">{`> ${services}`}</Link>
        </p>
        <p class="pt-1 text-green-600">
          <Link href="/" i18n={false}>
            {`> ${changeLang}`}
          </Link>
        </p>
      </Box>
    </GridItem>
    <GridItem paddingBottom="40px" width="100%">
      <Tools client:only="react" />
    </GridItem>
    <GridItem width="100%">
      <Contacting />
    </GridItem>
  </Grid>
</Container>
